<h2>Cadastro de contatos</h2>
<hr>
<form >
    <p> Nome: <input type="text" name="name" [(ngModel)]="aluno.nome" placeholder="Digite o nome aqui" required="nome" [disabled]="!aluno.idade"></p>
    <p> Numero: <input type="number" name="idade" [(ngModel)]="aluno.idade" placeholder="Digite a idade aqui" required="idade"></p>
    <button (click)="Cadastrar()" [disabled]="!aluno.nome">Cadastrar</button>
</form>

<h2>Contatos Eletriza</h2>
<hr>
<table>
    <tr>
        <th>#id</th>
        <th>Nome</th>
        <th>Numero</th>
        <th>Ações</th>
    </tr>


    <tr *ngFor="let aluno of alunos">
        <td>{{aluno.id}}</td>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.idade}}</td>
        <td><button (click)="remover(aluno.id)">Remover</button></td>
        <td><button  (click)="atualizar(aluno.id)">Atualizar</button></td>
    </tr>
</table>
